/*#region ================<SECCION HERO>=================*/


/*#endregion ============</SECCION HERO>=================*/


/*#region ================<SECCION TRABAJO>=================*/
.nuestro-trabajo {
  --color-guionado: var(--secundario-naranja-normal);
  background-color: var(--primario-azul-dark);
  line-height: 1.6;
  padding-bottom: 64px;
}
.nuestro-trabajo h3{
  /* white-space:nowrap ; */
  max-width: 310px;
  text-align: center;
  margin: auto;
  font-weight: 400 !important;
  color: #eee;
  font-size: 18px;
  line-height: 1.4;
}
@media screen and (min-width:768px){
  .nuestro-trabajo .card-lineas-segundo{
    margin-top: 92px;
  }
}
/*#endregion ============</SECCION TRABAJO>=================*/

/*#region ================SECCION QUE-BUSCAMOS=================*/
.que-buscamos{
  /* max-width: 887px ; */
}
  .que-buscamos ul{
    list-style-image: url("../img/check.svg");
  }
  .que-buscamos ul li{
    line-height: 1.7;
  }
  .que-buscamos li + li{
    margin-top: 16px;
  }

/*#endregion ============/SECCION QUE-BUSCAMOS=================*/

/*#region ================<SECCION FRASES>=================*/

.comillas {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.lema {
  font-size: 28px;
}
.circulos-list {
  justify-content: space-evenly;
  user-select: none;
}
.circulo {
  /* display: flex; */
  /* background-color: red; */
}
.circulo__img {
  height: 212px !important;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 4px solid #fff;
  box-shadow: 0 3px 6px 3px #bfbfbf;
  /* box-shadow: 0 0px 8px 4px #bfbfbf; */
}

.circulo__img::after {
  content: attr(data-texto);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(0);
  transition: transform 0.4s;
  font-size: 14px;
  padding: 0 8px;
}
.circulo__img:hover::after {
  transform: scale(1);
}
/*#endregion ============</SECCION FRASES>=================*/

/*#region ================SECCION ALIADOS=================*/
.aliados__list{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  justify-content: center;
  justify-items: center;
  row-gap: 16px;
  /* flex-wrap: wrap; */
}
.aliados__item{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  /* border: 1px solid blue; */
}
/*#endregion ============/SECCION ALIADOS=================*/

