.que-hacemos{
  /* --color-guionado: var(--secundario-naranja-normal); */
  /* background-color: var(--primario-azul-dark); */
}
/* ============ Seccion Mision ============= */
.vision{
  background-color: #f0f0f0;
}

.mision h2 , .vision h2{
  /* border: 1px solid red; */
  display: table;
  margin: auto;
  background-color: hsl(204,70%,30%);
  color: #fff;
  padding: 12px 30px;
  /* margin-top: -78px; */
  box-shadow: 4px 4px 6px rgba(0,0,0,.27);
}
@media screen and (min-width: 992px){
  .mision h2 , .vision h2{
    /* margin-bottom: 64px !important; */
  }
}
/*#region ================Seccion Valores=================*/
.valores{
  padding-bottom: 72px;
}
.valores__item + .valores__item{
  margin-top: 64px;
}
.valores__fila2{
  margin-top: 64px;
}
@media screen and (min-width:768px){
  .valores__item + .valores__item{
    margin-top: initial;
  }
}

/* ============== Seccion Pdf Registro ================ */
.pdf-registro{
  background-color: var(--primario-azul-dark);
  
}
.pdf-registro iframe{
  width: 100%;
  height: 400px;
  /* border:4px solid #000; */
  /* box-shadow: 4px 4px 8px 0px ; */
}

@media screen and (min-width:768px) {
  .pdf-registro h2{
    text-transform: uppercase;
  }
  .pdf-registro iframe{
    width: 85%;
    height: 620px;
  }
}