.tarjeta-lista{ 
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
  gap: 28px;
  justify-content: space-evenly;
  justify-items: center;
}
.card{
  /* padding: 0 10px;  */
  /* width: 280px;   */
   width: 310px;
   box-shadow: 2px 2px 9px 3px rgba(0,0,0,.20);
 }
 .card img{
  /* height: 320px; */
  height: 250px;
  object-position: top;
}
.card-title{
  /* margin-bottom: 0; */
  text-align: center;
  margin: 8px 0 16px;
}
.card-subtitulo{
  display: block;
  margin:2px 0 10px  ;
}
.btn-outline-warning{
  color: var(--secundario-naranja-light);
  border: 1px solid currentColor;
  font-weight: 500;
}
.btn-outline-warning:hover{
  color: #fff;
  /* border: 1px solid currentColor; */
  background-color: var(--secundario-naranja-light);
}